.heck1{
    position: relative;
    background-color: #27c5ef;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    width:200px;
    top: 110px;
    left: calc(50% - 300px) ;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.38);
}
.heck1:focus{
	background-color:#0e97bc;

}
.kbd-navigation .heck1:focus {
  background: #0e97bc;
}
.heck2{
    position: relative;
    background-color: #27c5ef;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
   display:inline-block;
    font-size: 25px;
    margin: 10px 2px;
    cursor: pointer;
    font-weight: bold;
    width:75px;
    top: 43px;
    left: calc(50% - 118px) ;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.38);
}

.inp{
   font: 20px "Century Gothic", Futura, sans-serif;
   position: relative;
   top: 40px;
   padding: 10px 10px;
   left: calc(50% - 130px) ;
   display:inline-block;
   
   border-style:solid;
   border: 1px solid #999;
}

.square {

    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    height: 400px;
    top: 2%;
    left: calc(50% - 140px);
    position:relative;
    padding: 0;
    text-align: center;
    width: 300px;
    


}

.todo{
    position:relative;
    background-color:#A8BFF8;
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    
    font-size: 17px;
    margin: 3px 2px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    top: 100px;
    
}

.todolist{
    position: absolute;
    text-align: center;
    left: calc(50% - 132px) ;
    
}
